* text=auto

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.svg text
*.pdf binary
*.zip binary
*.jar binary
*.jmod binary
*.dll binary
*.exe binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
